<!-- Image and text -->
<nav class="navbar navbar-light bg-light p-1">
    <a class="navbar-brand" href="#">
        <h3>Project 4.0</h3>
    </a>
</nav>
<div class="container-fluid">
    <div class="container">
        <div class="text-center">
            <h1>Form</h1>
        </div>
        <form class="m-5">

            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" id="name">
            </div>
            <br>
            <div class="form-group">
                <label>Surname</label>
                <input type="text" class="form-control" id="surname">
            </div>
            <br>
            <div class="form-group">
                <label>Sales</label>
                <input type="text" class="form-control" id="sales">
            </div>
            <br>
            <div class="form-group">
                <label>Targets</label>
                <input type="text" class="form-control" id="target">
            </div>
            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-primary w-50" id="submitButton">Submit</button>
            </div>
        </form>
    </div>
</div>